services:
  # Clientes Service
  - type: web
    name: clientes-service
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./clientes-service/Dockerfile
    dockerContext: .
    autoDeploy: true
    healthCheckPath: /actuator/health
    envVars:
      - key: R2DBC_URL
        value: r2dbc:postgresql://parqueadero_user:PUNSCnTOGDwZ1RqFDGi6dmQ7THVNZ5a8@dpg-d4616fc9c44c73cd73o0-a.oregon-postgres.render.com:5432/parqueadero_sxn3?sslMode=require
      - key: DB_USER
        value: parqueadero_user
      - key: DB_PASSWORD
        value: PUNSCnTOGDwZ1RqFDGi6dmQ7THVNZ5a8

  # Vehiculos Service
  - type: web
    name: vehiculos-service
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./vehiculos-service/Dockerfile
    dockerContext: .
    autoDeploy: true
    healthCheckPath: /actuator/health
    envVars:
      - key: R2DBC_URL
        value: r2dbc:postgresql://parqueadero_user:PUNSCnTOGDwZ1RqFDGi6dmQ7THVNZ5a8@dpg-d4616fc9c44c73cd73o0-a.oregon-postgres.render.com:5432/parqueadero_sxn3?sslMode=require
      - key: DB_USER
        value: parqueadero_user
      - key: DB_PASSWORD
        value: PUNSCnTOGDwZ1RqFDGi6dmQ7THVNZ5a8

  # API Gateway
  - type: web
    name: api-gateway
    env: docker
    region: oregon
    plan: free
    dockerfilePath: ./api-gateway/Dockerfile
    dockerContext: .
    autoDeploy: true
    healthCheckPath: /actuator/health
    envVars:
      - key: PLAYERS_URI
        sync: false
      - key: TEAMS_URI
        sync: false

